<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="/app/web/core/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="https://content-cards.lndo.site/"/>
    <env name="SIMPLETEST_DB" value="mysql://drupal11:drupal11@database/drupal11"/>
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value=""/>
    <env name="MINK_DRIVER_CLASS" value=""/>
    <env name="MINK_DRIVER_ARGS" value=""/>
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value=""/>
  </php>
  <extensions>
    <bootstrap class="Drupal\TestTools\Extension\HtmlLogging\HtmlOutputLogger">
      <parameter name="outputDirectory" value="/app/web/sites/simpletest/browser_output"/>
      <parameter name="verbose" value="true"/>
    </bootstrap>
  </extensions>
  <testsuites>
    <testsuite name="unit">
      <directory>/app/web/core/tests/Drupal/Tests</directory>
      <directory>/app/web/modules/**/tests/src/Unit</directory>
      <directory>/app/web/profiles/**/tests/src/Unit</directory>
      <directory>/app/web/themes/**/tests/src/Unit</directory>
      <directory>/app/web/modules/**/tests/src/Unit</directory>
      <directory>/app/web/profiles/**/tests/src/Unit</directory>
      <directory>/app/web/themes/**/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>/app/web/core/tests/Drupal/KernelTests</directory>
      <directory>/app/web/modules/**/tests/src/Kernel</directory>
      <directory>/app/web/recipes/**/tests/src/Kernel</directory>
      <directory>/app/web/profiles/**/tests/src/Kernel</directory>
      <directory>/app/web/themes/**/tests/src/Kernel</directory>
      <directory>/app/web/modules/**/tests/src/Kernel</directory>
      <directory>/app/web/profiles/**/tests/src/Kernel</directory>
      <directory>/app/web/themes/**/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>/app/web/core/tests/Drupal/FunctionalTests</directory>
      <directory>/app/web/modules/**/tests/src/Functional</directory>
      <directory>/app/web/profiles/**/tests/src/Functional</directory>
      <directory>/app/web/recipes/**/tests/src/Functional</directory>
      <directory>/app/web/themes/**/tests/src/Functional</directory>
      <directory>/app/web/modules/**/tests/src/Functional</directory>
      <directory>/app/web/profiles/**/tests/src/Functional</directory>
      <directory>/app/web/themes/**/tests/src/Functional</directory>
    </testsuite>
    <testsuite name="functional-javascript">
      <directory>/app/web/core/tests/Drupal/FunctionalJavascriptTests</directory>
      <directory>/app/web/modules/**/tests/src/FunctionalJavascript</directory>
      <directory>/app/web/recipes/**/tests/src/FunctionalJavascript</directory>
      <directory>/app/web/profiles/**/tests/src/FunctionalJavascript</directory>
      <directory>/app/web/themes/**/tests/src/FunctionalJavascript</directory>
      <directory>/app/web/modules/**/tests/src/FunctionalJavascript</directory>
      <directory>/app/web/profiles/**/tests/src/FunctionalJavascript</directory>
      <directory>/app/web/themes/**/tests/src/FunctionalJavascript</directory>
    </testsuite>
    <testsuite name="build">
      <directory>/app/web/core/tests/Drupal/BuildTests</directory>
    </testsuite>
  </testsuites>
  <source ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>/app/web/includes</directory>
      <directory>/app/web/lib</directory>
      <directory>/app/web/modules</directory>
      <directory>/app/web/modules</directory>
      <directory>/app/web/sites</directory>
    </include>
    <exclude>
      <directory>/app/web/modules/*/src/Tests</directory>
      <directory>/app/web/modules/*/tests</directory>
      <directory>/app/web/modules/*/src/Tests</directory>
      <directory>/app/web/modules/*/tests</directory>
      <directory>/app/web/modules/*/*/src/Tests</directory>
      <directory>/app/web/modules/*/*/tests</directory>
      <directory suffix=".api.php">/app/web/lib/**</directory>
      <directory suffix=".api.php">/app/web/modules/**</directory>
      <directory suffix=".api.php">modules/**</directory>
    </exclude>
  </source>
</phpunit>
